inst/doc
/doc/
/Meta/

.Rproj.user/*
.Rproj.user
.Rhistory

analysis/*

*.html
*.zip
.github/*.html

data_tests/*
*.db

../docs/
docs
/doc/
/Meta/

FrEDI/.Rproj.user/*
FrEDI/.Rproj.user
FrEDI/.Rhistory
# FrEDI/data_tests/report_figures/*


